body {
	margin: 0px;
}

.row {
	padding: 0px;
	margin: 0px;
}

.header {
	background-color: #C0C0C0;
	height: 150px;
}

.header .contact-information {
	background-color: white;
	height: 50px;
	border: 1px solid #dddddd;
}

.header .border-right {
	border-right: 1px solid #dddddd;
	padding-top: 12px;
}

.header .product-search {
	background-color: #FFFFFF;
	height: 115px;
}

.header .product-search img {
	margin-top: 7.5px;
	height: 100px;
}

.product-search .search-content {
	height: 50px;
	margin-top: 30px;
	border: 1px solid #dddddd;
}

.search-content input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-size: 18px;
	color: #AAAAAA;
}

.search-content .vertical {
	border-left: 1px solid #dddddd;
	height: 50%;
	margin-top: 10px;
	padding: 0px;
	max-width: 0px;
}

.search-content .col-md-8 {
	margin-right: 71.5px;
}

.search-content .icon-search {
	background-color: red;
}

.search-content .col-md-8 {
	margin-right: 71.5px;
}

.search-content .icon-search {
	background-color: white;
}

.icon-search .button-search {
	background-color: #e7ab3c;
	border: 1px solid #e7ab3c;
}

.search {
	padding: 15.20px;
	color: white;
}

#dropdownMenuButton {
	color: black;
	background-color: white;
	padding: 10.25px;
	border: 0px;
	font-size: 17px;
	padding-right: 18.25px;
}

.navigation {
	background-color: #252525;
	height: 55px;
	text-align: center;
}

.navigation  ul li {
	display: inline;
	margin-right: 15px;
}

.navigation a {
	color: white;
	font-size: 18px;
}

.navigation ul li div {
	width: 30px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
}

.body {
	background-color: #0000FF;
	height: 35px;
}