body {
	margin: 0px;
}

.row {
	padding: 0px;
	margin: 0px;
}

.header {
	background-color: #C0C0C0;
	height: 150px;
}

.header .contact-information {
	background-color: white;
	height: 50px;
	border: 1px solid #dddddd;
}

.header .border-right {
	border-right: 1px solid #dddddd;
	padding-top: 12px;
}

.header .product-search {
	background-color: #FFFFFF;
	height: 115px;
}

.header .product-search img {
	margin-top: 7.5px;
	height: 90px;
}

.product-search .search-content {
	height: 50px;
	margin-top: 30px;
	border: 1px solid #dddddd;
}

.search-content input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-size: 18px;
	color: #AAAAAA;
}

#buttonheart {
	margin-top: 35px;
}

#glyphiconheart {
	color: red;
	padding-top: 36px;
	font-size: 30px;
	border-color: black;
}

#glyphiconcart {
	padding-left: 56px;
	color: red;
	font-size: 29px;
	margin-top: -29px;
}

.search-content .vertical {
	border-left: 1px solid #dddddd;
	height: 50%;
	margin-top: 10px;
	padding: 0px;
	max-width: 0px;
}

.search-content .col-md-8 {
	margin-right: 71.5px;
}

.search-content .icon-search {
	background-color: red;
}

.search-content .col-md-8 {
	margin-right: 71.5px;
}

.search-content .icon-search {
	background-color: white;
}

.icon-search .button-search {
	background-color: #e7ab3c;
	border: 1px solid #e7ab3c;
}

.search {
	padding: 15.20px;
	color: white;
}

.dropdown-menu-button {
	color: black;
	background-color: white;
	padding: 10.25px;
	border: 0px;
	font-size: 17px;
	padding-right: 18.25px;
}

.navigation {
	background-color: #00FF00;
	height: 35px;
}

.body {
	background-color: #0000FF;
	height: 35px;
}

.login {
	margin: auto;
	width: 38.5%;
	border: 3px solid white;
	padding: 10px;
}

.login h1 {
	text-align: center;
}

.login input[type=text] {
	height: 50px;
	width: 490px;
	border: 1px solid #ebebeb;
	margin-bottom: 35px;
	outline: none;
	padding-left: 10px;
}

.login input[type=password] {
	height: 50px;
	width: 490px;
	border: 1px solid #ebebeb;
	margin-bottom: 15px;
	outline: none;
	padding-left: 10px;
}

.login button {
	font-size: 19px;
	height: 37px;
	width: 490px;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	color: white;
	outline: none;
	margin-top: 15px;
}