.row {
	padding: 0px;
	margin: 0px;
}
body {
	background-color: #DDDDDD;
	height: 35px;
}
.body{
    background-color: white;
}
.my-container {
    padding-left: 13%;
    padding-right: 13%;
}
/*HEADER*/
.header {
    height: 200px;
}
.header .header-top {
    background-color: #00CCCC;
    height: 90px;
    padding-top: 15px;
    color: white;
}
.header .header-top .col-md-4{
    text-align: center;
    padding-top: 10px;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
.header .col-md-1,
.header .col-md-2{
    padding-top: 15px;
}
.header .col-md-1 span,
.header .col-md-2 span{
    font-size: 25px;
}
.header .header-top a{
    color: white;
    text-decoration: none;
}
/*MENU*/
.header .header-bottom {
    height: 60px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    background-color: white;
}
.header .header-bottom .navigation-bar{
    width: 80%;
    margin: auto;
}
.header .header-bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%
}
.header .header-bottom li {
  float: left;
  height: 100px;
}
.header .header-bottom li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
.header .header-bottom li a:hover:not(.active) {
  background-color: #EEEEEE;
}
.active {
  background-color: #EEEEEE;
  height: 100px;
}
/*NAVIGATION*/
.navigation .block-information{
    background-color: white;
    color: gray;
    margin-bottom: 40px;
}
.navigation .block-information h4{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;
}
/*NAVIGATION*/
.navigation .block-information ul{
    list-style-type: none;
    padding: 0px;
}
.navigation .block-information ul li {
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    cursor: pointer;
}
.navigation .block-information ul li a{
    color: gray;
    text-decoration: none;
    padding-top: 20px;
}
.navigation .block-information ul li:hover{
    background-color: #EEEEEE;
}
.navigation .block-information ul li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
}
.navigation .block-information .filter {
    padding-left: 20px;
    padding-bottom: 10px;
}
.navigation .block-information input,
.navigation .block-information label {
    margin-bottom: 10px;
}
.navigation .block-information .btn-search{
    text-align: center;
}
.navigation .block-information button{
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
}
/* HOME */
.home {
    height: 300px;
    background-color: white;
    color: gray;
}
.home .banner{
    width: 100%;
    height: 520px;
}
.home .banner img{
    width: 100%;
    height: 520px;
}
/* PRODUCT */
.products{
    margin-top: 30px;
}
.products .product img{
    width: 100%;
    cursor: pointer;
}
.products .product h3, i{
    margin: 5px;
}
.products .product h4{
    margin: 5px;
    color: #AAAAAA;
}
.products ul {
    list-style-type: none;
    padding-left: 10px;
}
.products ul li {
    width: 23%;
    float: left;
    margin-right: 15px;
    height: 325px;
}
.product:hover{
    border: 1px solid #AAAAAA;
}
/* LOGIN */
.login{
    background: url(../static/asset/login-background.jpg);
    height: 96%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    color: white;
}
.login form{
    width: 50%;
    margin: auto;
}
.login input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding-left: 20px;
    color: gray;
    margin-bottom: 30px;
    border-radius: 20px;
}
.login .button{
    width: 48%;
    height: 45px;
    color: white;
    font-size: 20;
}
/* FOOTER */
.footer{
    background-color: #555555;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}